<%= form_for @task, url: tasks_path do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :project %>
  <%= f.select :project do %>
    <% Project.all.each do |p| -%>
      <%= content_tag(:option, p.name, value: p.id) %>
    <% end %>
  <% end %>
  <%= f.label :user %>
  <%= f.select :user do %>
    <% User.all.each do |p| -%>
      <%= content_tag(:option, p.name, value: p.id) %>
    <% end %>
  <% end %>
  <%= f.label :status %>
  <%= f.select :status do %>
    <% ProjectForm::STATUSES.each do |s| -%>
      <%= content_tag(:option, s, value: s) %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
