<%= form_for @customer, url: customers_path do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :note %>
  <%= f.text_field :note %>
  <%= f.label :status %>

  <%= f.select :status do %>
    <% ProjectForm::STATUSES.each do |s| -%>
      <%= content_tag(:option, s, value: s) %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
